<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Receipts Vault</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <!-- check whats bootstrap and what isnt in order to change stuff around. did not add his css to the project yet -->
    <header class="container">
      <h1>Receipts Vault: Save all your Screenshot Conversations</h1>
    </header>
    <section class="jumbotron text-center">
      <p>Login or Signup:</p>
      <img src="" alt="popular basic meme">

      <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
      <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
    </section>
  </body>
</html>
